Package: com.muirey03.libmryipc
Name: libMRYIPC
Version: 1.0
Architecture: iphoneos-arm
Description: Easy-to-use, RocketBootstrap-less iOS IPC
Maintainer: Muirey03
Author: Muirey03
Section: System
Tag: role::developer
